{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="alert alert-info">
            Not registered yet? Click <a href="{{ path('app_register') }}">here</a> to create your account.
        </div>
        <div class="row justify-content-center align-self-center" style="margin: 15px">
            <div class="card bg-light">
                <div class="card-header"><b>Login</b></div>
                <div class="card-body">

                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                           required autofocus>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                </div>
                <div class="card-footer">
                    <button class="btn btn-success" type="submit" style="float: right;">
                        Sign in
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
