{% extends 'base.html.twig' %}

{% block title %}Couette&Café{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Welcome guest! ✅</h1>

        Our C&C website is coming soon!
    </div>
{% endblock %}
