{% extends 'base.html.twig' %}

{% block title %}Choose your region{% endblock %}

{% block body %}
    <div class="col d-flex justify-content-center">
        <div class="card bg-light" style="margin-top: 20vh; transform: translateY(-50%):">
            <div class="card-header"><b>Choose your region</b></div>
            <div class="card-body">
                <form method="post">
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                {{ form_start(form) }}
                                {{ form_widget(form.id, {
                                    'attr': {
                                        'class': 'selectpicker',
                                        'data-live-search': "true",
                                        'data-container':"body",
                                        'data-style':"btn-light"
                                    }
                                }) }}
                            </div>
                            <div class="col">
                                <button type="submit"
                                        class="btn btn-warning align-self-end">{{ button_label|default('OK') }}</button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
