{% extends 'base.html.twig' %}

{% block title %}New Region{% endblock %}

{% block body %}
    <div class="card" style="margin: 10px">
        <div class="card-header"><b>Create new Region</b></div>
        {{ include('region/_form.html.twig') }}
    </div>
{% endblock %}